githubConfigUrl: https://github.com/cantaskin/GitOps
githubConfigSecret:
  github_token: ${{ secrets.GH_PAT }}


template:
  spec:
    containers:
      - name: runner
        image: ghcr.io/actions/actions-runner:latest
        command: ["/home/runner/run.sh"]
        volumeMounts:
          - name: docker-sock
            mountPath: /var/run/docker.sock
    volumes:
      - name: docker-sock
        hostPath:
          path: /var/run/docker.sock
          type: Socket